---
---

$base-font-size:  	16px;
$content-width: 	990px;

@import "minima";

body {
  font-size: 17px;
}

blockquote {
  color: #242424;
  border: none;
  border-left: 3px solid #242424;
  padding-left: 15px;
  margin-left: -15px;
  letter-spacing: -0.1px;
  font-size: inherit;
}

$background-color-code: #f0f0f0;

pre, code {
  background-color: $background-color-code;
  white-space: pre;
}

.highlighter-rouge .highlight {
  background-color: $background-color-code;
}
