---
---

$base-font-size:  	16px;
$content-width: 	990px;

@import "minima";

blockquote {
  letter-spacing: -0.1px;
}

$background-color-code: #f0f0f0;

pre, code {
  background-color: $background-color-code;
}

.highlighter-rouge .highlight {
  background-color: $background-color-code;
}
